<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=PC\SQLEXPRESS;Database=Patiserie_SGBD;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="ParentTableName" value="Tipuri" />
		<add key="ChildTableName" value="Produse" />
		<add key="ParentColumnNames" value="idTip,Tip,NrProduse" />
		<add key="ChildColumnNames" value="idProduse,Denumire,Cantitate,Pret,idTip" />
		<add key="ParentID" value="idTip" />
		<add key="ChildID" value="idProduse" />
		<add key="InsertQuery" value="INSERT INTO Produse(Denumire,Cantitate,Pret,idTip) VALUES (@Denumire,@Cantitate,@Pret,@idTip)" />
		<add key="UpdateQuery" value="UPDATE Produse SET Denumire=@Denumire, Cantitate=@Cantitate, Pret=@Pret WHERE idProduse=@idProduse"/>
		<add key="DeleteQuery" value="DELETE FROM Produse WHERE idProduse=@idProduse" />
		<add key="InsertCommandParameters" value="@idProduse,@Denumire,@Cantitate,@Pret,@idTip" />
		<add key="UpdateCommandParameters" value="@idProduse,@Denumire,@Cantitate,@Pret" />
		<add key="ParentSelect" value="SELECT * FROM Tipuri" />
		<add key="ChildSelect" value="SELECT * FROM Produse WHERE idTip=@idTip" />
	</appSettings>
</configuration>

<!--
<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=PC\SQLEXPRESS;Database=Patiserie_SGBD;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="ParentTableName" value="Produse" />
		<add key="ChildTableName" value="Furnizori" />
		<add key="ParentColumnNames" value="idProduse, Denumire, Cantitate, Pret, idTip" />
		<add key="ChildColumnNames" value="idFurnizor, Nume, Locatie, produs" />
		<add key="ParentID" value="idProduse" />
		<add key="ChildID" value="idFurnizor" />
		<add key="InsertQuery" value="INSERT INTO Frunizori(Nume, Locatie, produs) VALUES (@Nume, @Locatie, @produs)" />
		<add key="UpdateQuery" value="UPDATE Furnizori SET Nume=@Nume, Cantitate=@Cantitate, Pret=@Pret WHERE idProduse=@idProduse"/>
		<add key="DeleteQuery" value="DELETE FROM Produse WHERE idProduse=@idProduse" />
		<add key="InsertCommandParameters" value="@idProduse,@Denumire,@Cantitate,@Pret @idTip" />
		<add key="UpdateCommandParameters" value="@idProduse,@Denumire,@Cantitate, @Pret" />
		<add key="ParentSelect" value="SELECT * FROM Tipuri" />
		<add key="ChildSelect" value="SELECT * FROM Produse WHERE idTip=@idTip" />
	</appSettings>
</configuration>
-->
